*{
    margin: 0;
    padding: 0;
}
.body{
    width: 1250px;
}

.header{
	height: 300px;
    display: inline-flex;
    width: 1250px;
}

.header .logo{
    margin-top: -26px;
}

.nav a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 30px;
    margin: -7px;
}

.nav li{
   
	list-style: none;
	margin-left: 60px;
    display: inline-flex;
}

.nav ul{
	margin-top: 60px;
    margin-left: 400px;
}

.dropdown{
    position: relative;
    top: 1px;
    left: -px;
    display: inline-block;
}

.dropdown button{
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown button{
    border: ;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 80%);
    /* min-width: 100px; */
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.769);
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}


.A{
    height: 40px;
    width: 400px;
    position:relative;
    left: 780px;
    top: -470px;
}
.A img{
    position: relative;
    top: -40px;
    left: -60px;
}

.A h1{
    font-size: 40px;
}

.A button{
    background-color: yellowgreen;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    border: 2px solid yellowgreen;
    margin-left: -70px;
}

.A a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
    left: 10px;
    top: -3px;
}
.A h3{
    position: relative;
    left: -60px;
    top: -20px;
}

.A h1{
    position: relative;
    left: -60px;
}

.A p{
    position: relative;
    left: -60px;
    top: 20px;
}

.watermark {
    transform: rotate(390deg);
    opacity: 0.2;
    position: relative;
    left: 800px;
    top: -40px;
    
}

.all {
    background-color:rgb(1, 20, 34);
    padding: 15px;
    display: inline-flex;
    height: 130px;
    width: 1130px;
    margin-top: -40px;
    margin-left: -20px;

}

.one {
    background-color: rgb(36, 36, 38);
    color: white;
    text-align: center;
    width: 300px;
    padding: 25px;
    margin: 14px;

}

.one {
    font-size: 16px;
    padding: 3px;
}

.one p{
    position: relative;
    top: -5px;
    left: -20px;
}

.one h1{
    position: relative;
    bottom: 8px;
    margin-right: 30px;
}

.all img{
    position: relative;
    left: -95px;
    bottom: -20px;
}

.B{
    text-align: center;
    position: relative;
    bottom: -50px;
}

.B img{
    position: relative;
    top: 20px;
}

.bbb{
    /* background-color:rgb(1, 20, 34); */
    /* width: 1250px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 100px;
    margin-left: -20px; */
    position: relative;
    bottom: -100px;
}

.two{
    /* width: 100px; */
    /* padding: 10px;
    margin: 14px; */
    gap: 25px;
}

.two1{
    /* width: 100px; */
    /* padding: 10px;
    margin: 14px; */
    gap: 25px;
    height: 330px;
    position: relative;
    top: -70px;
}

.image1{
    position:relative;
    bottom: -150px;
    text-align: center;
}

.ggg{
    /* width: 1250px; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 100px;
    margin-left: -20px; */
    position: relative;
    bottom: 80px;
    background-color: lightgrey;
    height: 500px;
}

.z{
    background-color: white;
    color: black;
    width: 300px;
    height: 300px;
    padding: 25px;
    margin: 14px;
    position: relative;
    bottom: -70px;
}

.z p{
    font-size: 18px;
    padding: 3px;
    border: 20px;
    width: 270px;
    border-color: solid red;
    text-align: left;
    
}

.z h2{
    text-align: left;
}

.z button{
    background-color: yellowgreen;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    color: white;
    border: 2px solid yellowgreen;
    position: relative;
    bottom: 170px;
    left: -70px;
}

.z a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.z .arrow-right{
    position: relative;
    bottom: 163px;
    left: -110px;
}

.z img{
    position: relative;
    bottom: -50px;
    left: 20px;
}

.mmm{
    background-color: lightgrey;
    padding: 15px;
    display: inline-flex;
    height: 250px;
    width: 1130px;
    margin-left: -20px;
    position: relative;
    top: -80px;

}

.mmm .m{
    background-color:rgb(1, 20, 34);
    padding: 15px;
    display: inline-flex;
    height: 100px;
    width: 1250px;
    margin-left: -20px;
    position: relative;
    top: 35px;
}

.mmm .h{
    color: white;
    text-align: center;
    padding: 25px;
    margin: 14px;
    font-size: 30px;
}

.mmm button{
    background-color: yellowgreen;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    border: 2px solid yellowgreen;
    position: relative;
    bottom: -36px;
    right: -300px;
}
.m img{
    position: relative;
    left: -5px;
    top: 3px;
}

.mmm a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.f{
    font-size: 26px;
    position: relative;
    bottom: 150px;
}

.p{
    font-size: 30px;
    position: relative;
    bottom: 20px;
}

.ddd{
    /* background-color:rgb(1, 20, 34); */
    /* width: 1130px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 100px;
    margin-left: -20px; */
    position: relative;
    bottom: -100px;
}

.ddd .four{
    /* width: 100px; */
    /* padding: 10px;
    margin: 14px; */
    gap: 25px;
    text-align: left;
}
.ddd .img{
    position:relative;
    bottom: -150px;
}

.n{
    position: relative;
    bottom: -180px;
    font-size: 30px;
}

.j{
    position: relative;
    bottom: -190px;
}

.hhh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -220px;
}

.three1{
    gap: 25px;
    background-color: whitesmoke;
    height: 300px;
    height: 300px; 
    position: relative;
    bottom: -150px;
    left: 40px;
   
}

.three1 p{
    width: 330px;
    height: 300px;
    position: relative;
    bottom: -20px;
}

.three1 img{
    position: relative;
    bottom: -10px;
}

.three1 .imageh{
    position: relative;
    bottom: -50px;
    right: 150px;
}

.three1 .f{
    font-size: 16px;
    position: relative;
    top: 20px;
    left: 10px;
}

.three2{
    width: 400px;
    height: 200px;
    position: relative;
    top: -4px;
}

.three2 img{
    opacity: 0.6;
    border-radius: 5px;
}

.three2 h1{
    position: relative;
    top: -370px;
    right: -25px;
    color: white;
    font-size: 42px;
    border: 20px;
    width: 350px;
    height: 40px;
}

.three2 p{
    position: relative;
    top: -230px;
    right: -25px;
    color: white;
    font-size: 20px;
    border: 20px;
    width: 350px;
    height: 40px;
}

.three2 button{
    background-color: yellowgreen;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    border: 2px solid yellowgreen;
    position: relative;
    bottom: 170px;
    right: -5px;
}

.three2 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.three3{
    gap: 25px;
    background-color: whitesmoke;
    height: 300px;
    height: 300px; 
    position: relative;
    bottom: -150px;
    left: -40px;
   
}

.three3 p{
    width: 330px;
    height: 300px;
    position: relative;
    bottom: -20px;
    
}

.three3 img{
    position: relative;
    bottom: -10px;
}

.three3 .imageg{
    position: relative;
    top: -170px;
    left: -70px;
}

.three3 .v{
    font-size: 16px;
    position: relative;
    top: -200px;
    left: 10px;
}

footer{
    background-color:rgb(1, 20, 34);
    margin-top: 550px;
    height: 400px;
    width: 1130px;
    display: inline-flex;
    color: white;

}

.texts{
    font-size: 16px;
    margin-left: -180px;
    position:relative;
    bottom: -160px;

}

.texts h2{
    margin-left: 760px;
    position:relative;
    bottom: 100px;

}

.tb{
    margin-left: 950px;
    position:relative;
    bottom: 80px;
    left: -100px;
    text-align: right;
    width: 300px;
  
}

.bf{
    text-align: left;
    position:relative;
    top: -90px; 
    width: 350px;
    left: 90px;
}

.logo{
    margin-top: 10px;
    position:relative;
    bottom: -45px;
    right: -50px;
  
}

.icon{
    margin-top: 10px;
    position:relative;
    bottom: -200px;
    left: -400px; 
    width: 20px;
}

hr{
    width: 1125px;
    position: relative;
    bottom: -70px;
    right: -53px;
}

.bg{
    text-align: left;
    font-size: 18px;
    position:relative;
    top: 80px; 
    width: 350px;
    left: 90px;
}

.imageh{
    margin-top: -220px;
    margin-left: 170px;
}

.p{
    margin-left: -10px;
    position:relative;
    top: -15px;  
}

.yes{
    position: relative;
    top: 500px;

}

.fish{
    position: relative;
    bottom: -55px;
    left: 450px;
}

.sale{
    background-color: yellowgreen;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border: 2px solid yellowgreen;
    position: relative;
    left: 255px;
    top: 20px;
}

.sale p{
   margin-top: 12px;
   margin-left: 5px;
}